/* .edit-main {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
}

.edit-form {
  grid-column: 2;
} */
form {}

.form-flex {
  max-width: 400px;
  margin: 0 auto;
}

.form-flex li {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}

.form-flex>li>label {
  flex: 1 0 200px;
  max-width: 200px;
}

.form-flex>li>label+* {
  flex: 1 0 120px;
}

.current-img {
  max-width: 600px;
  border: solid black 3px;
}