/* setting vars */
:root {}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  padding-top: 4rem;
}

.header {
  padding: 3rem 1.5rem;
  text-align: center;
}

/* breadcrumb stuff */
.breadcrumb-dot .breadcrumb-item+.breadcrumb-item::before {
  content: "•";
  color: #408080;
}

/* jumbotron stuff */
.jumbotron {
  margin-bottom: 0 !important;
}

.house-detail {
  padding-top: 20px;
}

/* login stuff */
.login-form {
  width: 340px;
  margin: 50px auto;
}

.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  padding: 30px;
}

.login-form h2 {
  margin: 0 0 15px;
}

.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}

.btn {
  font-size: 15px;
  font-weight: bold;
}

.caro {
  margin-bottom: 30px;
}

.carousel-inner>.item {
  width: 100%;
}

/* footer */
.footer {
  height: 200px;
  background-color: #E3F2FD;
}

.footbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-content: center;
}

.footlinks, .footaddy {
  display: grid;
  justify-content: center;
}

@media only screen and (max-width: 400px) {
  .footbox {
    grid-template-columns: 1fr;
  }

  .footer {
    height: 250px;
  }
}