* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 5rem;
}

.header {
  padding: 3rem 1.5rem;
  text-align: center;
}

/* login stuff */
.login-form {
  width: 340px;
  margin: 50px auto;
}

.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  padding: 30px;
}

.login-form h2 {
  margin: 0 0 15px;
}

.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}

.btn {
  font-size: 15px;
  font-weight: bold;
}